dip

cmd/yaam/yaam

test/testdata/gradle/demo/.gradle
test/testdata/gradle/demo/build
test/testdata/gradle/demo/build.gradle
test/testdata/gradle/demo/settings.gradle

test/testdata/npm/demo/node_modules
test/testdata/npm/demo/.npmrc
test/testdata/npm/demo/package-lock.json
