---
name: MCVS-PR-validation-action
'on':
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize
  workflow_call:
jobs:
  MCVS-PR-validation-action:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: schubergphilis/mcvs-pr-validation-action@v0.1.1
